body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.header {
  float: right;
}

.header a,
.header button {
  margin: 10px;
  color: #000;
  text-decoration: none;
}

.header button {
  background-color: #4484f1;
  padding: 8px;
  font-size: 15px;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  font-weight: bold;
}

.main {
  text-align: center;
}

.logo-img img {
  width: 342px;
  height: 144px;
  margin-top: 10%;
  margin-right: auto;
  margin-left: 290px;
}

.main div {
  margin-top: 15px;
}

.search-box input {
  height: 42px;
  width: 600px;
  border-radius: 100px;
  border-style: solid;
}

.btn button {
  width: 125px;
  height: 36px;
  margin-right: 30px;
  border: none;
}
.ara {
  text-decoration: none;
}
.footer {
  background: #f2f2f2;
  padding: 20px;
  color: #000;
}

.country {
  display: flex;
}

.footer-links a {
  text-decoration: none;
  margin-left: 10px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
